<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-toolbar>
			<ion-label> Order List</ion-label>
			<ion-buttons end>
				<button ion-button color="green" (click)="scanbarCode()">
        			Order
      			</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list inset class="no-margin">
		<ion-item-sliding *ngFor="let orderItem of orderList">
			<ion-item class="no-padding" >
				<ion-thumbnail item-left *ngIf="orderItem.Article.Links && orderItem.Article.Links.cover" (tap)="loadArticleDetails(orderItem.A.Id)">
					<img [src]="orderItem.Article.Links.cover.Href" (error)="setDefaultImage($event)" />
				</ion-thumbnail>
				<ion-thumbnail item-left *ngIf="!(orderItem.Article.Links && orderItem.Article.Links.cover)" (tap)="loadArticleDetails(orderItem.Article.Id)">
					<img src="assets/img/image_not_available.jpg" />
				</ion-thumbnail>
				<h2>Artist: {{orderItem.Article.Artist}}</h2>
				<p>Title: {{orderItem.Article.Title}}</p>
				<p>Date: {{orderItem.Article.ReleaseDate }}</p>
				<p class="item-price">Price: {{orderItem.Article.Price | formatCurrency }}</p>
				<p>Quantity : {{orderItem.Quantity}}</p>
				<p>Backorder Allowed: {{orderItem.IsBackorderAllowed}}</p>
				<p>Reference: {{orderItem.Reference}}</p>
				<p>Shipping Address {{getShippingAddressFormatted(orderItem.ShippingAddressId)}}</p>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button icon-only color="danger" (click)="delete(orderItem)">
					<ion-icon name="trash">
					</ion-icon>
				</button>
				<button ion-button icon-only color="primary" (click)="edit(orderItem)">
					<ion-icon name="create">
					</ion-icon>
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>