<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-toolbar>
			<ion-searchbar aria-placeholder="Search..." [(ngModel)]="searchQuery" (search)="getItems($event)" autocorrect="off"></ion-searchbar>
			<ion-buttons end>
				<button ion-button icon-only color="royal" (click)="scanbarCode()">
        			<ion-icon name="camera" ion-camera></ion-icon>
      			</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-fab top right edge>
		<button ion-fab color="light"><ion-icon name="cart"><ion-badge>{{orderListCount}}</ion-badge></ion-icon></button>
	</ion-fab>
	<h1 *ngIf="(!enteredSearchText || enteredSearchText =='')">
		Enter search text
	</h1>
	<ion-list inset class="no-margin" *ngIf="(enteredSearchText && enteredSearchText !='')">
		<ion-item class="no-padding" *ngFor="let article of searchItems">
			<ion-thumbnail item-left *ngIf="article.Links && article.Links.cover" (tap)="loadArticleDetails(article.Id)">
				<img [src]="article.Links.cover.Href" (error)="setDefaultImage($event)" />
			</ion-thumbnail>
			<ion-thumbnail item-left *ngIf="!(article.Links && article.Links.cover)" (tap)="loadArticleDetails(article.Id)">
				<img src="assets/img/image_not_available.jpg" />
			</ion-thumbnail>
			<h2>Artist: {{article.Artist}}</h2>
			<p>Title: {{article.Title}}</p>
			<p>Date: {{article.ReleaseDate }}</p>
			<p class="item-price">Price: {{article.Price | formatCurrency }}</p>
			<ion-icon name="heart" (click)="favorite(article)" item-right></ion-icon>
			<ion-icon name="cart" (click)="addToCart(article)" item-right></ion-icon>
		</ion-item>
		<button ion-button round full (click)="getSearchData(nextUrl)" *ngIf="nextUrl != ''">Load More </button>
	</ion-list>
</ion-content>