.no-padding
{
    padding: 0px;
}
.no-marging
{
    margin:0px;
}
.error .toast-container
{
    background : red !important;
}

.item-price
{
    font-size: 100px;
    color: black;
}

#topcartButton
{
    position: relative;
}

#topcartButton .carttext
{
    padding:3px;
    font-size:11px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: red;
    border-radius: 5px;
}